{% extends 'base/principal.html' %}
{% block content %}

<div class="barra-superior">
    <h1>Registrate</h1>
</div>

<div class="cuerpo-tarjeta">
    <form method="post">
        {% csrf_token %}
        <label>{{form.username.label}}</label>
        {{form.username}}

        <label>{{form.password1.label}}</label>
        {{form.password1}}

        <label>{{form.password2.label}}</label>
        {{form.password2}}

        <!--{{from.as_p}} para mostrar incluso las restricciones de contraseña-->

        <input style="margin-top: 10px" class="boton" type="submit" value="Registrar">
    </form>
    <p>Ya tienes cuenta? <a href="{% url 'login' %}">Ingresa</a></p>
</div>

{% endblock content %}